{% extends "pizza_app/base.html" %}

{% block content %}
    <div class="container mx-auto px-4 py-8">
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-6">
            <h2 class="text-3xl font-bold mb-4">Order Mislukt</h2>
            <p class="text-lg">Helaas, er is iets misgegaan met je order. Neem contact op met onze klantenservice voor verdere assistentie.</p>
            <p class="text-lg">Onze excuses voor het ongemak.</p>
        </div>
        <div class="flex justify-center">
            <a href="{% url 'pizza_app:index' %}" class="bg-red-600 text-white py-3 px-6 rounded-md hover:bg-red-700 transition">Terug naar Home</a>
        </div>
    </div>
{% endblock %}